*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header.container{
    background-color: rgb(23 30 95);
    margin: auto;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}
.container{
    width: 90%;
    background-color: #fff;
    box-shadow: 1px 2px 12px 0 rgb(134, 132, 132);
    margin: auto;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2.5rem;
}

.input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
input{
    width: 50%;
    padding: .4rem;
    border-radius: 6px;
    border: 1px solid gray;
    outline-color:  rgb(35 107 219);
    -moz-outline-radius: 8px;
    opacity: 0.9;
    margin-bottom: 1.5rem;
}
.output{
    width: 100%;
    
}
 p{
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color:  rgb(23 30 95);
    color: #fff;
    border-radius: 3rem;
    width: 100%;
}

button{
    width: 40%;
    cursor: pointer;
    border: .1rem solid rgb(35 107 219);
    font-weight: 600;
    background-color: #fff;
    padding: .5rem;
    margin-right: 2rem;
    border-radius: .4rem;
    color:  rgb(35 107 219);
    font-size: .8rem;
    margin-bottom: 1rem;
}

button:hover{
    color: #fff;
    background-color: rgb(35 107 219);
    transition: .6s;
}

/* togglers */

.user1 {
    background-color: orange;
    color: black;
}
.user2{
    background-color:  rgb(35 107 219);
    color: #fff;
}
.hidden{
    display: none;
}
.visible{
    display: flex;
}


@media screen and (max-width: 800px){
    .container{
        text-align: center;
    }
    input{
        width: 80%;
    }
    button{
        margin-bottom: 1.5rem;
        width: 60%;
        margin-right: 0;
    }
    .container p{
        font-size: 1rem;
    }

}
@media screen and (min-width: 900px){
     .container{
        width: 60%;
    }
    
}

@media screen and (min-width: 1170px){
    .container{
       width: 40%;
   }
   
}
